
<section id="user" class="card"">
    <div class="title">Người dùng</div>
    <button>Thêm người dùng</button>

    <table class="mt-2">
        <thead>
            <tr><th>ID</th><th>Tài khoản</th><th>Mật khẩu</th><th>Tên</th><th>Email</th><th>Địa chỉ</th><th>Ngày tạo</th><th>SDT</th><th>Vai trò</th><th>Hành động</th></tr>
        </thead>
        <tbody>
            <tr><td>U001</td><td>admin</td><td>12345</td><td>Trần Văn Louis</td><td>admin@mail.com</td><td>Japan</td><td>19-11-2025</td><td>0914xxxxxx</td><td>Quản trị viên</td><td><button>Sửa</button></td></tr>
        </tbody>
    </table>
</section>