
@{
    ViewData["Title"] = "Quản lý khách hàng";
}
<section id="invoice" class="card">
    <div class="title">@ViewData["Title"]</div>
    <button class="btn btn-primary">Thêm khách hàng</button>

    <table class="mt-3 table table-striped table-hover">
        <thead class="table-danger">
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Điạ chỉ</th>
                <th>SDT</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>KH001</td>
                <td>Nguyễn Văn A</td>
                <td>123,Nguyễn Huệ,Long Xuyên,An Giang</td>
                <td>123456789</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH002</td>
                <td>Nguyễn Văn B</td>
                <td>123,Hà Hoàng Hổ, Rạch Giá,An Giang</td>
                <td>0987615412</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH003</td>
                <td>Nguyễn Văn C</td>
                <td>2, Nam Từ Liêm, Hà Nội</td>
                <td>0451686822</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH004</td>
                <td>Trần Thị D</td>
                <td>34, Nguyễn Huệ, Quận 1, TP.HCM</td>
                <td>0901234567</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH005</td>
                <td>Lê Văn E</td>
                <td>15B, Đường 3/2, Ninh Kiều, Cần Thơ</td>
                <td>0912345678</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH006</td>
                <td>Phạm Thị F</td>
                <td>50, Quang Trung, Hải Châu, Đà Nẵng</td>
                <td>0987654321</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH007</td>
                <td>Hoàng Văn G</td>
                <td>10, Hàng Gai, Hoàn Kiếm, Hà Nội</td>
                <td>0365897412</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH008</td>
                <td>Vũ Thị H</td>
                <td>78, Võ Văn Ngân, Thủ Đức, TP.HCM</td>
                <td>0852147963</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH009</td>
                <td>Ngô Văn I</td>
                <td>12A, Trần Hưng Đạo, TP. Huế</td>
                <td>0779456123</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH010</td>
                <td>Đỗ Thị K</td>
                <td>99, Lương Đình Của, Quận 2, TP.HCM</td>
                <td>0935791357</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH011</td>
                <td>Tạ Văn L</td>
                <td>30, Trần Phú, Nha Trang, Khánh Hòa</td>
                <td>0968024680</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH012</td>
                <td>Dương Thị M</td>
                <td>55, Lê Duẩn, Thanh Khê, Đà Nẵng</td>
                <td>0979135791</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH013</td>
                <td>Chu Văn N</td>
                <td>88, Đinh Tiên Hoàng, Bình Thạnh, TP.HCM</td>
                <td>0321456789</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH014</td>
                <td>Bùi Thị Oanh</td>
                <td>17, Giải Phóng, Hai Bà Trưng, Hà Nội</td>
                <td>0487654321</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH015</td>
                <td>Mai Văn P</td>
                <td>22B, Hoàng Văn Thụ, Tân Bình, TP.HCM</td>
                <td>0919283746</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH016</td>
                <td>Nguyễn Thị Q</td>
                <td>9, Pasteur, Quận 3, TP.HCM</td>
                <td>0384561239</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH017</td>
                <td>Trịnh Văn R</td>
                <td>44, Cầu Giấy, Cầu Giấy, Hà Nội</td>
                <td>0865974123</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH018</td>
                <td>Lý Thị S</td>
                <td>71, Nguyễn Thị Minh Khai, Quận 1, TP.HCM</td>
                <td>0905544332</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH019</td>
                <td>Hồ Văn T</td>
                <td>25, Bạch Đằng, Sơn Trà, Đà Nẵng</td>
                <td>0917788990</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH020</td>
                <td>Võ Thị U</td>
                <td>101, Hai Bà Trưng, TP. Biên Hòa</td>
                <td>0981234560</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH021</td>
                <td>Đặng Văn V</td>
                <td>14, Trần Hưng Đạo, Quận 5, TP.HCM</td>
                <td>0399887766</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH022</td>
                <td>Thân Thị X</td>
                <td>66, Nguyễn Trãi, Thanh Xuân, Hà Nội</td>
                <td>0915432100</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
            <tr>
                <td>KH023</td>
                <td>Cao Văn Y</td>
                <td>33, Phan Chu Trinh, TP. Vũng Tàu</td>
                <td>0701928374</td>
                <td>
                    <button class="btn btn-primary  ">Xem</button>
                    <button class="btn btn-warning">Sửa</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

