@model IEnumerable<QLCHBanAo.Models.CuaHang>

@{
    ViewData["Title"] = "Index";
}
<section id="store" class="card">
    <div class="title">Quản lý cửa hàng</div>
    <button>Thêm cửa hàng</button>

    <table class="mt-2">
        <thead>
            <tr><th>Mã</th><th>Tên</th><th>Địa chỉ</th><th>Quản lý</th><th>Hành động</th></tr>
        </thead>
        <tbody>
            <tr><td>CH001</td><td>Quận 1</td><td>123 Lê Lợi</td><td>Nguyễn A</td><td><button>Sửa</button></td></tr>
        </tbody>
    </table>
</section>
